/*VARIABLES*/    
$font-body:"Montserrat",cursive;
$text_align:center;
$font-size-t:50px;

/*Cabezera*/

.principal__tittle {
    font-family: $font-body;
    font-size: $font-size-t;
    text-align: $text_align;
    margin-left: 20px;
    margin-bottom: 50px;
}
.secondary_subtittle{
    font-family: $font-body;
    font-size: $font-size-t;
    text-align:$text_align;

}