/*Variables*/
$text_align:center;
/*Pagina Principal*/
p.principal__contenedor2{
    text-align: $text_align;
}
.principal_contenedor2--tabla {
text-align: $text_align;
}
.principal__section{
text-align: $text_align;
}
.carousel-inner img {
width: 100%;
height: 100%;
}
 